attrs==23.2.0
bidict==0.22.1
certifi==2024.2.2
cftime==1.6.3
click==8.1.7
cloudpickle==3.0.0
dask==2024.4.1
exceptiongroup==1.2.0
fsspec==2024.3.1
funcy==1.18
importlib_metadata==7.1.0
iniconfig==2.0.0
locket==1.0.0
netCDF4==1.6.5
numpy==1.26.4
packaging==24.0
pandas==2.2.2
partd==1.4.1
pluggy==1.4.0
portalocker==2.8.2
py-aiger==6.2.3
py-aiger-cnf==5.0.8
pyapproxmc==4.1.24
pycryptosat==5.11.21
pypblib==0.0.4
pyrsistent==0.19.3
pysat==3.2.0
pytest==8.1.1
python-dateutil==2.9.0.post0
python-sat==1.8.dev12
pytz==2024.1
PyYAML==6.0.1
rc2==0.11
scipy==1.13.0
six==1.16.0
sortedcontainers==2.4.0
tomli==2.0.1
toolz==0.12.1
tzdata==2024.1
xarray==2024.3.0
zipp==3.18.1
